body {
    background: white;
}
.hero-unit {
    height: 640px;
    background: no-repeat center;
    background-size: cover!important;
}

.hero-unit img {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.site-header {
    margin-bottom: 0;
}
.site-content {
    margin-top: 0;
}
.hentry {
    box-shadow: none;
    border: none;
}
