body {
    background: white;
}
.hero-unit {
    height: 640px;
    background: no-repeat center;
    background-size: cover!important;
}

.hero-unit img {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.site-header {
    margin-bottom: 0;
}
.site-content {
    margin-top: 0;
}
.hentry {
    box-shadow: none;
    border: none;
    padding-top: 0;
    margin-top: -2.6375rem;
}
.entry-content {
    margin-top: 0;
    border: none;
}

/**
 * ORIGINAL STYLES ----------
 */
/* Clear fix
 * Source: https://css-tricks.com/snippets/css/clear-fix/
 */
.group:after {
  content: "";
  display: table;
  clear: both;
}
hr {
	margin-top: 3rem;
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 4rem;
    font-weight: 400;
}
.action-link {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
.front-title,
.front-subtitle {
	margin-top: -0.5rem;
	margin-bottom: 0;
	color: white;
}
.front-title {
	font-weight: 700;
}
.front-subtitle {
    font-weight: 600;
}
.front-title-box {
	margin: 3rem 0;
}
.front-menu-box {
    max-width: 1000px;
    margin: 0 auto;
    float: none;
    z-index: 0;
}
.hero-unit .card-icon {
	display: block;
	margin: 0.5rem auto 0;
	font-size: 2rem;
	color: white;
}
.hero-unit .clients {
	margin: 2rem auto;
}
.hero-unit .clients a:hover {
	text-decoration: underline;
	color: white;
}
.button.large {
	margin: 0;
	padding: 3.25rem;
}
.button.large a {
	color: white;
	font-size: 1.75rem;
	font-weight: 100;
	margin-top: 2rem;
}
/* Buttons Card Flipper 
 * Source: http://cssdeck.com/labs/rxcleo5w
 */
.flip-cards,
.flip-icons {
	float: left;
	width: 100%;
	height: 100%;
	padding-left: 1rem;
}
.flip-icons {
	padding-left: 0;
}
.flip-cards li {
	float: left;
	width: 33.3%;
	height: 180px;
	position: relative;
	padding: 0;
}
.flip-icons li {
	float: left;
	width: 35px;
	height: 25px;
	position: relative;
	padding: 0;
}
.flip-cards li:hover,
.flip-icons li:hover {
	cursor: pointer;
}
.flip-cards li:hover .card-front,
.flip-icons li:hover .icon-front {
	-webkit-transform: rotateY(180deg);
	        -moz-transform: rotateY(180deg);
	        -ms-transform: rotateY(180deg);
	        -o-transform: rotateY(180deg);
	        transform: rotateY(180deg);
	        -webkit-transform: perspective(1000) rotateY(180deg);
	        -moz-transform: perspective(1000) rotateY(180deg);
	        -ms-transform: perspective(1000) rotateY(180deg);
	        -o-transform: perspective(1000) rotateY(180deg);
	        transform: perspective(1000) rotateY(180deg);
}
.flip-cards li:hover .card-back,
.flip-cards li:hover .icon-back {
	z-index: 950;
	        -webkit-transform: rotateY(0deg);
	        -moz-transform: rotateY(0deg);
	        -ms-transform: rotateY(0deg);
	        -o-transform: rotateY(0deg);
	        transform: rotateY(0deg);
	        -webkit-transform: perspective(1000) rotateY(0deg);
	        -moz-transform: perspective(1000) rotateY(0deg);
	        -ms-transform: perspective(1000) rotateY(0deg);
	        -o-transform: perspective(1000) rotateY(0deg);
	        transform: perspective(1000) rotateY(0deg);
}
.flip-cards .card-front,
.flip-cards .card-back,
.flip-icons .icon-front,
.flip-icons .icon-back {
	-webkit-backface-visibility: hidden;
	    -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	    -o-backface-visibility: hidden;
	    backface-visibility: hidden;
	    -webkit-transition: -webkit-transform 0.6s;
	    -moz-transition: -moz-transform 0.6s;
	    -o-transition: -o-transform 0.6s;
	    transition: transform 0.6s;
	    display: block;
	    height: 100%;
	    position: absolute;
	    width: 100%;
}
.flip-cards .card-front,
.flip-icons .icon-front {
	-webkit-transform: perspective(1000) rotateY(0);
	    -moz-transform: perspective(1000) rotateY(0);
	    -ms-transform: perspective(1000) rotateY(0);
	    -o-transform: perspective(1000) rotateY(0);
	    transform: perspective(1000) rotateY(0);
	    z-index: 900;
}
.flip-cards .card-back,
.flip-icons .icon-back {
	-webkit-transform: rotateY(-180deg);
	    -moz-transform: rotateY(-180deg);
	    -ms-transform: rotateY(-180deg);
	    -o-transform: rotateY(-180deg);
	    transform: rotateY(-180deg);
	    z-index: 800;
}
/* Button Card Colors */
.flip-cards .panel {
	border: none;
}
.flip-cards .panel i,
.flip-cards .panel p,
.flip-cards .panel a,
.flip-cards .panel small {
	color: white;
}

.flip-cards li:first-child > .button {
	background-color: rgba(40, 57, 77, 0.8);
}
	.flip-cards li:first-child > .panel {
		background-color: rgba(40, 57, 77, 1);
	}
	
.flip-cards li:nth-child(2) > .button {
	background-color: rgba(109, 193, 202, 0.8);
}
	.flip-cards li:nth-child(2) > .panel {
		background-color: rgba(109, 193, 202, 1);
	}
	
.flip-cards li:nth-child(3) > .button {
	background-color: rgba(211, 81, 45, 0.8);
}
	.flip-cards li:nth-child(3) > .panel {
		background-color: rgba(211, 81, 45, 1);
	}
	
.flip-cards li:nth-child(4) > .button {
	background-color: rgba(235, 167, 36, 0.8);
}
	.flip-cards li:nth-child(4) > .panel {
		background-color: rgba(235, 167, 36, 1);
	}
	
.flip-cards li:nth-child(5) > .button {
	background-color: rgba(75, 135, 150, 0.8);
}
	.flip-cards li:nth-child(5) > .panel {
		background-color: rgba(75, 135, 150, 1);
	}
	
.flip-cards li:last-child > .button {
	background-color: rgba(100, 66, 87, 0.8);
}
	.flip-cards li:last-child > .panel {
		background-color: rgba(100, 66, 87, 1);
		color: white;
	}


.panel,
.panel.callout {
	//border: none;
        // STYLED LIKE THEME WIDGETS
        border: 0.05rem solid silver;
        //box-shadow: 0 0 2px rgba(0,0,0,0.15);
        background-color: #f5f5f5;
}
.panel a {
	color: #4d4d4d;
}	
.panel a:hover {
	text-decoration: underline;
	color: rgba(75, 135, 150, 1);
}
.panel i {
	font-size: 2rem;
	display: block;
	float: left;
	width: 20%;
	opacity: 0.5;
}
.panel strong {
	line-height: 2rem;
	font-weight: bold;
}
.panel strong a {
	color: #222;
}
.hub-info {
	width: 80%;
	float: right;
}
.hub-info p {
	margin-top: 0.5rem;
	font-size: 0.9rem;
	margin-bottom: 0.25rem;
}
.panel small {
	font-size: 0.7rem;
	margin-left: 20%;
	font-style: oblique;
        width: 80%;
        float: right;
        margin-top: 5px;
}
.hub-info ul {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.hub-info li, dd {
	font-size: 0.9rem;
}
ul.follow {
	list-style: none;
	/*margin-top: 1rem;*/
	text-align: center;
	margin: 0.5rem 0 0;
}
ul.follow li {
	display: inline;
	
}
ul.follow li i {
	font-size: 1rem;
	width: 30px;
	padding: 5px 7px;
	margin-right: 5px;
	background-color: silver;
	border-radius: 5px;
}
ul.follow a,
ul.follow a:hover {
	color: white;
}


/* 3d follow icons */
/* animation domination */
/*.three-d,
.three-d-box {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}*/
	/* complete the animation! */
	/*.three-d:hover .three-d-box:hover, 
	.three-d:focus .three-d-box:focus {
		-webkit-transform: translateZ(-25px) rotateY(90deg);
		transform: translateZ(-25px) rotateY(90deg);
	}*/

/*.three-d-box {
	transition: all .3s ease-out;
	transform: translateZ(-25px);
	transform-style: preserve-3d;
	-webkit-transition: all .3s ease-out;
	-webkit-transform: translateZ(-25px);
	-webkit-transform-style: preserve-3d;
	pointer-events: none;
	/*position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 20px;
	height: 20px;
}*/
/*.icon-front {
	-webkit-transform: translateZ(20px);
	transform: translateZ(20px);
}
.icon-back {
	-webkit-transform: rotateY(-90deg) translateZ(-20px);
	transform: rotateY(-90deg) translateZ(-20px);
}*/
/* Rotate the icon 
.three-d-box:hover {
	-webkit-transform: rotateY(90deg);
	transform: rotate(90deg);
}*/

/* 
	put the "front" and "back" elements into place with CSS transforms, 
	specifically translation and translatez
*/
/*.front {
	transform: rotateY(0deg) translateZ(25px);
}

.back {
	transform: rotateY(-90deg) translateZ(25px);
	color: #ffe7c4;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	padding: 15px 10px;
	color: white;
	pointer-events: none;
	box-sizing: border-box;
	
}*/


.life li {
	display: inline;
	padding: 0 5px;
	border-right: 1px solid silver;
	color: gray;
	font-size: 0.9em;
}
.life li:last-child {
	border-right: none;
}


.resp {
	margin-top: 6rem;
}
img.profile {
	box-shadow: 0px 0px 10px #333;
	border-radius: 30px;
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.vision .secondary { /* buttons */
	margin-bottom: 0.5rem;
	margin-top: -0.5rem;
}

.resp .button {
	width: 100%;
	height: 100px;
	border-radius: 15px;
	padding: 25px 10px;
	box-shadow: 0px 0px 5px silver;
	position: relative;
}
.resp .button i {
	display: block;
	font-size: 2rem;
	margin-bottom: 5px;
}
.resp img {
	max-height: 40px;
	margin-bottom: 5px;
	margin-top: -5px;
}
.resp img.korean {
	margin-top: 0;
}

.fa-stack {
	color: silver;
}

.leaders li {
	float: left;
	padding-right: 1rem;
	padding-bottom: 1rem;
}
.leadership .callout.panel {
		margin-top: 4rem;
	}


.tabs {
	margin-bottom: 2rem !important;
}
.tab-title.active {
	border: 1px solid silver;
	border-bottom: none;
}
.tab-title a {
	font-size: 0.8rem !important;
	padding: 0.75rem 2rem !important;
}
.blogs {
	margin-bottom: -4rem;
}


.footer {
	width: 100%;
	background-color: #333;
	margin-top: 2rem;
	color: white;
}
.footer a {
	color: white;
}
.footer h4 {
	color: white;
	font-weight: bold;
	margin: 2rem 0 1rem;
}
.footer ul {
	margin-top: 5px;
}
.footer li {
	opacity: 0.8;
	font-size: 0.9rem !important;
	line-height: 1.75rem;
}
.footer li:hover {
	opacity: 1;
}
.footer .connect li {
	display: inline;
}
.footer .connect li i:hover {
	background: #222222;
}
.footer .connect li i {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	padding-top: 14px;
	background: #444444;
	margin-right: 5px;
	margin-top: 10px;
}
.footer nav {
	margin-top: 6rem;
	padding-top: 0.75rem;
	height: 60px;
}
.footer nav,
.footer nav li,
.footer nav a {
	background: #222222 !important;
	font-weight: normal;
	font-size: 0.8125rem;
}
.footer nav li {
	display: inline;
	padding: 0 0.9375rem;
}




@media only screen and ( max-width: 40em ) {
	.hero-unit {
		height: 800px;
	}
	.flip-cards li {
		width: 50%;
		/*height: 160px;*/
	}
	.resp {
		margin-top: 4rem;
	}
	img.profile {
		margin-top: 2rem;
	}
	.working-on h4 {
		margin-top: 1rem;
	}
	.vision h4 {
		margin-top: 0;
	}
	.leadership .callout.panel {
		margin-top: 2rem;
	}
}
@media only screen and ( max-width: 30em ) {
	.hero-unit h1 {
		font-size: 1.75rem;
	}
	.hero-unit h3 {
		font-size: 1.125rem;
	}
}
@media only screen and ( max-width: 25em ) {
	.hero-unit {
		height: 920px;
	}
	.hero-unit hgroup {
		margin: 2rem 0;
	}
	.hero-unit h1 {
		font-size: 1.35rem;
		padding-bottom: 0.25rem;
	}
	.hero-unit h3 {
		font-size: 0.85rem;
	}
	.hero-unit .card-icon {
		font-size: 1.35rem;
	}
	.hero-unit .card-back .card-icon {
		font-size: 2rem;
		margin: 0;
		padding: 5px 0 20px 5px;
	}
	.flip-cards li {
		width: 100%;
		font-size: 1.35rem;
		height: 120px;
	}
	.flip-cards .panel p {
		display: none;	
	}
	.flip-cards .panel small {
		margin: 0;
	}
	.button.large {
		padding: 2rem;
	}
	.button.large a {
		font-size: 1.35rem;
	}
}