* {
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    @include body();
}

@include header_image();

@include custom_logo();

// Foundation rows
.row { position: relative; }
    
article,
.not-found .hentry,
.page .hentry {
    margin-bottom: $default_gutter;
}

.index-post {
    border: 1px solid transparent;
}
.index-post:hover {
    border: 1px solid $color__link;
}
.single-post .hentry {
    border-top: 1px solid $color__link;
}

@include links();

blockquote {
    padding: $default_gutter / 2 $default_gutter;
    margin: $default_gutter $default_gutter / 2;
    font-size: 24*$px;
    //font-style: italic;
    font-weight: 300;
    @include blockquote();
    cite {
        font-weight: 300;
        font-size: 18*$px;
        text-align: right;
        margin-left: 25%;
        margin-top: $default_gutter;
    }
    &.alignright {
        width: 50%;
        float: right;
        padding: 1em 2em 0 0;
        margin-left: 2em;
        border-left: none;
        border-right: 6*$px solid $color__light-border;
        margin-right: 0;
    }
    &.alignright cite {
        margin-left: 0;
        margin-right: 25%;
        text-align: left;
    }
    &.alignleft {
        width: 50%;
        float: left;
        padding: 1em 0 0 2em;
        margin-right: 2em;
        margin-left: 0;
    }
}

// Overridden from lists.scss
ul, ol {
    padding: 0;
    margin: 0 0 $phi*1em $phi*1em;
}

@include htags();

// Layout colors

.site-header {
    //@include guide;
    @include sub_panel();
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: $color__header-box-shadow;
    background-color: $color__background-header;
}
.admin-bar .site-header .fixed {
/*    top: 32px;
    box-shadow: $color__header-box-shadow;*/
}

.top-bar, .top-bar ul {
    padding: 0;
    background: $color__background-header;
    height: 4.375rem;
    line-height: 4.375rem;
    position: relative;
    border: none;
    z-index: 2;
}
.top-bar.sticky {
    border: none;
}
.admin-bar .top-bar.sticky.is-stuck {
    top: 32px!important;
}

.hentry, 
.comments-area, 
.page-header, 
.page-content, 
.site-main .posts-navigation,
.paging-navigation li {
    @include guide;
    @include main_panel();
    box-shadow: $color__box-shadow;
}
.site-main .post-navigation {
    box-shadow: $color__box-shadow;
    background-color: $color__background-main-panel;
    border: 1*$px solid $color__border-main-panel;
    border-top: 1*$px solid $color__light-border;
    margin-top: 0;
    margin-bottom: $default_gutter;
    .nav-previous, .nav-next {
        padding-left: $post_l_padding;
        padding-right: $post_r_padding;
        padding-top: $phi * 1rem;
        padding-bottom: $phi * 1rem;
        margin: 0;
        h4 {
            font-size: 24*$px;
            margin: 0;
            //line-height: 2rem;
        }
        &:hover {
            background-color: $color__background-header;
        }
    }
    .nav-previous h4:before {
        font-family: "FontAwesome";
        margin-right: 0.5em;
        content: '\f0d9';
    }
    .nav-next h4:after {
        font-family: "FontAwesome";
        margin-left: 0.5em;
        content: '\f0da';
    }
    .nav-indicator {
        font-size: 18*$px;
        font-weight: 300;
        color: $color__text-sub-panel;
    }
}

.paging-navigation {
    ul {
        margin: 0 0 $default_gutter;
    }
    li {
        display: inline-block;
        list-style: none;
        margin: 0 -0.14rem;
        padding: 0.75rem $phi * 1rem 0.5rem;
        &:hover {
            background-color: $color__background-sub-panel;
        }
    }
}

.site-main .comment-navigation {
    border-top: 1px solid $color__light-border;
    border-bottom: 1px solid $color__light-border;
    box-shadow: none;
    span a {
        color: $color__text-sub-panel;
    }
    span a:hover {
        text-decoration: underline;
        color: $color__link;
    }
    .nav-previous, .nav-next {
        padding-top: $phi * 0.5rem;
        padding-bottom: $phi * 0.4rem;
        padding-left: $post_l_padding;
        padding-right: $post_r_padding;
        &:hover {
            background-color: $color__background-header;
        }
    }
    .nav-previous i {
        margin-right: 0.5em;
    }
    .nav-next i {
        margin-left: 0.5em;
    }
}

.widget {
    @include guide;
    @include sub_panel();
    box-shadow: $color__box-shadow;
}

.site-footer {
    @include guide;
    box-shadow: $color__box-shadow;
}

// Styles for footer widgets
#supplementary .widget {
    @include main_panel();
    border: none;
    box-shadow: none;
    float: left;
}

// content of layout/content-sidebar pasted here for easier modification

.content-area {
    //float: left;
    margin: 0 (-$size__site-sidebar) 0 0;
    //width: $size__site-main;
}

.site-main {
    margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
    //float: right;
    //overflow: hidden;
    //width: $size__site-sidebar;
}

.site-footer {
    clear: both;
    //width: $size__site-main;
}

// **-----
// CUSTOM STYLES
// **-----

// Site wrapper
.site {
    // padding-top: $default_gutter / 2;
}

// Header
.site-header {
    //max-width: total_site_width();
    //margin: 0 auto $default_gutter auto;
}

.site-branding {
    //padding-left: $phi * 1rem;
    //padding-top: $phi * 1rem;
    //padding-bottom: $phi * 1rem;
    //font-size: 0.5em;
    //float: left;
}

.site-title, .site-description {
    //margin: 0;
    //line-height: 1em;
    //display: inline-block;
    //vertical-align: bottom;
}

.site-description {
    //margin-left: 0.5em;
    font-style: italic;
    display: none; 
}

// Header Search
@include search_toggle();

#search-container {
    display: none;
    // margin-left: -82*$px;
    height: 4.375rem;
    background: $color__background-main-panel;
    position: absolute;
    width: calc( 100% - 4rem );
    margin-right: 4rem;
    z-index: 99;
}
.search-box {
    padding: 1em;
}
.search-box .search-field {
    padding: 1rem 1rem 0.5rem 1.5rem;
    font-size: 24*$px;
    color: $color__text-sub-panel;
    /*margin-top: -25*$px;*/
    /*height: 45*$px;*/
    max-width: 100%;
    width: 50%;
    float: right;
}
.hentry .search-field,
.widget .search-field {
    /*margin-top: $phi * 1rem;*/
    /*margin-bottom: 1rem;*/
    width: 100%;
/*    height: 45*$px;*/
    padding: 1rem 1rem 0.5rem 1.5rem;
    font-size: 24*$px;
    color: $color__text-sub-panel;
}
.error404 .search-submit,
.search .search-submit,
.search-box .search-submit {
    display: none;
}

// Content
.site-content {
    //max-width: total_site_width();
    margin: 100*$px auto 0 auto;
}

@include archive_item();

//** Posts and pages

// (hentry class covers both) plus their internal elements
.hentry,
.read-comments,
.write-comments,
.page-header,
.page-content,
.site-main .posts-navigation {
    padding-left: $post_l_padding;
    padding-right: $post_r_padding;
    padding-top: $post_t_padding;
    padding-bottom: $post_b_padding;
    margin: 0 0 $default_gutter * 1.5 0;
}

.hentry {
    padding-bottom: 0;
    /* margin-bottom: 0; */
}

// Centers category headers
.page-header {
    padding-top: $phi * 1rem;
    padding-bottom: $phi * 1rem;
    .taxonomy-description p {
        color: $color__text-sub-panel;
        margin: $phi * 1rem 0 0;
        font-weight: 300;
        text-align: center;
        //font-size: 18*$px;
    }
}
.page-title {
    text-align: center;
    font-size: 24*$px;
    text-transform: uppercase;
    font-weight: 700;
    //margin-bottom: $default-gutter;
    margin: 0;
    border-top: 1px solid $color__light-border;
    border-bottom: 1px solid $color__light-border;
    padding: 1rem 0 0.75rem;
}

//**** Individual post styling
#content .sticky {
    @include sticky_post();
}

// Featured Images
// Index pages
.index-post-thumbnail {
    box-shadow: $color__box-shadow;
    img {
        min-width: 100%;
        vertical-align: bottom;
    }
}
// Single pages
.single-post-thumbnail {
    background: $color__text-sub-panel;
}
.single-post-thumbnail img {
    display: block;
    margin: 0 auto;
}

// Center the post's title 
.entry-header {
    text-align: center;
    margin-bottom: $post_b_padding;
    .cat-links {
        margin-top: 1rem;
        background-color: $color__background-body;
        a{
            color: $color__text-sub-panel;
        } 
        &:before {
            content: '';
            margin-right: 0;
            color: $color__text-sub-panel;
        }
    }
}

.entry-title {
    margin: 0;
    margin-bottom: $default_gutter / 1.5;
    font-weight: 400;
}
.not-found {
    .entry-title {
        font-size: 36*$px;
        margin-bottom: 0;
    }
    .entry-content {
        margin-top: 0;
    }
    ins {
        background: $color__background-sub-panel;
        font-weight: 300;
        padding: 0.2rem 0.5rem 0;
    }
}

.entry-meta {
    display: inline-block;
    font-size: 18*$px;
    font-weight: 300;
    padding: 0.25rem;
    width: 100%;
    @include entry_meta();
    .comments-link:before,
    .edit-link:before {
        padding: 0 0.5em;
        content: '\22c5';
        margin: 0;
        font-size: 1.2rem;
    }
    .author:after {
        content: '\22c5';
        padding: 0 0.5em;
        margin: 0;
        font-size: 1.2rem;
        font-weight: normal;
    }
    a:hover {
        color: $color__text-main;
        text-decoration: underline;
    }
}
.vcard {
    border: none;
    padding: 0;
    text-transform: capitalize;
    margin: 0;
    .fn {
        font-weight: 400;
    }
}

.entry-content {
    .continue-reading {
        text-align: center;
    }
    @include content_link;
    a img {
        // prevent gap below linked image
        vertical-align: bottom;
    }
    a.more-link {
        font-size: 18*$px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2*$px;
        display: inline-block;
        padding: 0.75em $phi * 1em 0.5em;
        margin: 0 0 2em 0;
        &:before {
            font-family: "FontAwesome";
            content: "\f0a4";
            margin-right: 0.5em;
            opacity: 0.5;
        }
        &:after {
            font-family: "FontAwesome";
            content: "\f0a5";
            margin-left: 0.5em;
            opacity: 0.5;
        }
        @include more_link();
    }
    a.more-link:hover {
        background-color: $color__background-sub-panel;
    }
    p {
        margin: $default_gutter 0;
    }
    img, figure {
        margin: 1.5rem; 
        &.alignnone {
            margin: 1.5rem 0;
        }
        &.alignright {
            margin: 1.5rem 0 1.5rem 1.5rem;
        }
        &.alignleft {
            margin: 1.5rem 1.5rem 1.5rem 0;
        }
    }
    .wp-caption-text, .gallery-caption {
        font-size: 18*$px;
        font-weight: 300;
        margin-top: -1.5rem;
        padding: 0.5rem;
        line-height: $phi * 1rem;
        margin-bottom: 2rem;
        @include img_caption();
    }
}

.entry-footer {
    //text-align: center;
    margin-top: $post_b_padding; 
    border-top: 1px solid $color__light-border;
    font-size: 18*$px;
    font-weight: 300;
    padding: 0.5rem 0;
/*    line-height: 3em;*/
    span, ul {
        margin: 0.618em 0.618em * 2 0.618em 0;
        padding: 0 0.618em * 2 0 0;
        display: inline-block;
        //float: left;
    }
    li {
        display: inline-block;
        list-style-type: none;
        background: $color__background-body;
        margin-right: 0.5em;
    }
    @include entry_footer();
}

/**
POST FORMATS
**/
.format-aside {
    .entry-meta {
        margin-bottom: 0;
        margin-top: $post_t_padding;
        border-bottom: none;
    }
    .entry-footer {
        margin-top: 0;
    }
}



.comments-area {
    border-top: 1px solid $color__link;
}
.comment-navigation, /*.write-comments,*/ .read-comments { margin: 0!important; }
.comments-title, .comment-reply-title {
    //font-size: 24*$px;
    font-weight: 400;
    //margin-top: 0;
}
.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
    .comment {
        @include comment();
        box-shadow: none;
    }
    .comments-area > ol {
        padding: 0;
        margin: $default_gutter 0;
        list-style-type: none;
    }
    ol.children {
        list-style-type: none;
    }
    .comment-list ol {
        margin-left: $default_gutter * 2;
    }
    .comment-meta { position: relative; }
    
    .comment-author {
        .avatar {
            border-radius: 100px;
            display: block;
            float: left;
            //margin-right: $phi * 1rem;
            box-shadow: $color__header-box-shadow;
        }
        .fn {
            font-weight: 600;
            //font-size: 24*$px;
            margin-left: 20px;
        }
        span {
            text-transform: lowercase;
        }
    }
    .comment-metadata {
        font-weight: 300;
        font-size: 18*$px;
        margin-left: 100px;
        position: absolute;
        top: 30px;
    }
    .comment-content {
        font-size: 90%;
        margin-left: 100px;
    }
    .comment-body {
        padding-top: $default_gutter;
        margin-bottom: $default_gutter;
        border-top: 1px solid $color__light-border;
    }
    .reply {
        margin-left: 100px;
        &:before {
            font-family: "FontAwesome";
            font-size: 70%;
            margin-right: 0.5em;
            content: '\f112';
            transform: rotate(180deg);
            
        }
    }
}
.bypostauthor {
    .comment-body {
        background: $color__background-sub-panel;
        padding: $phi * 1rem;
        border: none;
    }  
}
/* Comments responsive */
@media screen and (max-width: 600px) {
    .comment-list ol { margin-left: 0; }
    .comment-content ol { }
    .comment-content, .reply { margin-left: 0; }
}

.comment-form-author, .comment-form-email, .comment-form-url {
    width: 50%;
}
.comment-form textarea {
    font-size: 24*$px;
    color: $color__text-sub-panel;
    padding: 1em;
}
.required {
    color: red;
}
.comment-awaiting-moderation {
    margin: 1em 0;
}


//**** Post footer icons
.cat-links:before {
    font-family: "FontAwesome";
    content: "\f115";
    margin-right: 0.5em;
}

.tags-links:before {
    font-family: "FontAwesome";
    content: "\f02c";
    margin-right: 0.5em;
}

.comments-link:before {
    font-family: "FontAwesome";
    content: "\f27b";
    margin-right: 0.5em;
}

.edit-link:before {
    font-family: "FontAwesome";
    content: "\f040";
    margin-right: 0.5em;
}

//**** Widgets
.widget {
    padding-left: $widget_l_padding;
    padding-right: $widget_r_padding;
    padding-top: $widget_t_padding;
    padding-bottom: $widget_b_padding;
    margin-left: 0;
    margin-bottom: $default-gutter;
}

.widget-title {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $default-gutter;
    margin-top: 0;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 0.75em 0 0.5em 2em;
        @include widget-divider;
        &.page_item_has_children,
        &.menu-item-has-children {
            padding-bottom: 0;
            //border: none;
        }
        // Default widget list item icon
        &:before {
            margin-left: -2em;
            margin-right: 1em;
            font-family: "FontAwesome";
            content: "\f097";
            opacity: 0.5;
            font-size: 18*$px;
        }
        
        // Prevent excessive, layout breaking nesting indentation levels
        li li li {
            padding-left: 0;
        }
    }
    .children li:first-of-type, 
    .sub-menu li:first-of-type {
        margin-top: 0.5em;
        @include widget-divider-top;
    }
    li:last-child {
        border: none;
    }
}

// Widget icons
.widget_recent_comments ul {
    li:before {
        content: "\f27b";
    }
}

.widget_recent_entries ul {
    li:before {
        content: "\f0f6";
    }
}

.widget_archive ul {
    li:before {
        content: "\f133";
    }
}

.widget_categories ul {
    li:before {
        content: "\f115";
    }
}

.widget_pages ul, .widget_nav_menu ul {
    li:before {
        content: "\f0f6";
    }
    .children, .sub-menu {
        li:before {
            content: "\f101";
        }
    }
    .children .children, .sub-menu .submenu {
        li:before {
            content: "\f105";
        }
    }
}

.widget_rss li {  }
.widget_rss .rss-date,
.widget_rss cite {
    display: block;
    font-size: 90%;
    padding: $phi * 0.25rem 0;
}

input.search-field {
    box-sizing: border-box;
    width: 100%;
}

// Footer
.site-footer {
    padding-top: $phi * 1em;
    //padding-bottom: $phi * 1em;
    //max-width: total_site_width();
    margin: 0 auto;
    @include site_footer();
}

.site-info {
    background-color: $color__text-main;
    color: $color__background-main-panel;
    .site-links {
        padding: $phi * 1rem 0;
        border-bottom: 1px solid $color__text-sub-panel;
        .menu {
            float: right;
            ul {
                margin: 0;
            }
            li {
                display: inline-block;
                margin: 0 1em;
            }
        }
    }
    .theme-info {
        font-size: 14*$px;
        font-weight: 300;
        padding: $phi * 0.5rem 0;
        opacity: 0.5;
    }
    a {
        color: $color__light-border;
        &:hover {
            text-transform: underline;
        }
    }
}

@include topbutton();


//**** Responsive layout adjustments

@media (max-width: 62.5em) {
    
    // Output headings at smaller size
    @include htags(0.9);
    
/*    // redeclare variables to be smaller
    $default_h_padding: $phi * $phi * 1rem;
    $default_v_padding: $default_h_padding;

    // Posts and widgets horizontal padding
    $post_l_padding: $default_h_padding;
    $post_r_padding: $post_l_padding;

    // Posts and widgets vertical padding
    $post_t_padding: $default_h_padding / $phi;
    $post_b_padding: $post_t_padding;
    
    .hentry,
    .comments-area, 
    .page-header,
    .site-main .posts-navigation,
    .site-main .post-navigation,
    .paging-navigation {
        padding-left: $post_l_padding;
        padding-right: $post_r_padding;
        padding-top: $post_t_padding;
        padding-bottom: $post_b_padding;
    }
    
    .entry-title {
        margin-bottom: $post_t_padding;
    }
    
    .site-footer {
        padding: $phi * 1em;
    }*/
}

@media (max-width: 782*$px) {
    
    .admin-bar .site-header .fixed {
        //top: 46px;
    }
    
}

@media (max-width: 600*$px) {
    
    @include htags(0.8);
    
}
@media (max-width: 400*$px) {
    
    @include htags(0.7);
    
}