/**
 * Mixins
 */

@mixin htags( $factor: 1 ) {
    h1, h2, h3, h4, h5, h6 {
        font-family: $htag_family;
        line-height: $htag_lineheight;
        font-weight: $htag_weight;
    }
    @for $i from 1 through 6 {
        h#{$i} {
            $value: nth($htag_sizes, $i);
            $size: if( ($value * $factor) < 1, 1, $value * $factor );
            font-size: $size * 1em;
            margin: ( nth($htag_vmargins, $i) * 1em ) 0;
        }
    }
    // Set H1 widget titles default size
    .widget-title {
        $default: nth($htag_sizes, 4);
        $size: if( ($default * $factor) < 1, 1, $default * $factor );
        font-size: $size * 1em * 0.9;
    }
    .site-title {
        $default: nth($htag_sizes, 3);
        $size: if( ($default * $factor) < 1, 1, $default * $factor );
        font-size: $size * 1em * 0.9;
        font-weight: bold;
        line-height: 4.375rem;
        text-transform: uppercase;
        margin-top: 0; //0.2rem;
        margin-left: 1rem;
        &:hover {
            text-shadow: $color__box-shadow;
        }
    }
}

// Mixins to apply coloring

@mixin guide() { // Originally used as a guide, but this is the color I want for these items
    background: #ffffff;
}

@mixin body() {
    body {
        /*border-top: 2*$px solid $color__border-main-panel;*/
        background-color: $color__background-body;
    }
}

@mixin header_image() {
    #header-image {
        overflow: hidden;
        position: relative;
        img {
        
        }
        .site-branding-header {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        a {
            color: white;
        }
        .site-title,
        .site-description {
            color: white;
            font-weight: normal;
            text-transform: capitalize;
        }
        .site-title {
            font-size: 110*$px;
            margin: 0;
            font-weight: 100;
            text-shadow: 0 2px 0 rgba( 0, 91, 103, 0.15 );
            &:after {
                content: "";
                position: absolute;
                width: 84px;
                height: 2px;
                left: calc( 50% - 42px );
                bottom: 11px;
                background: linear-gradient( to right, rgba( 0, 113, 117, 0.3), rgba( 0, 143, 135, 0.45 ));
                box-shadow: 0 1px 0 rgba( 181, 243, 241, 0.07 );
            }
        }
        .site-description {
            display: block;
            font-size: 20*$px;
            line-height: 1.3;
            width: 380px;
            margin: 0.7em auto 1.35em;
            text-shadow: 0 2px 0 rgba( 0, 91, 103, 0.15 );
        }
    }
    .single #header-image,
    .archive #header-image,
    .search #header-image,
    .error404 #header-image {
        max-height: 300px;
        .site-title {
            font-size: 60*$px;
        }
    }
}

@mixin custom_logo() {
    .custom-logo {
        max-height: 40px;
        max-width: 100%;
        width: auto;
        margin-left: 1rem;
    }
}

@mixin search_toggle() {
    .search-toggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 4rem;
        height: 4.375rem;
        padding: 25px;
        color: $color__text-sub-panel;
        text-align: center;
        cursor: pointer;
        line-height: 1;
        z-index: 3;
    }
    .search-toggle:hover,
    .search-toggle.active {
        background: $color__background-main-panel;
    }
    .main-navigation ul {
        padding-right: 4rem;
    }
}

@mixin topbutton() {
    .topbutton {
        height: 50*$px;
        width: 50*$px;
        position: fixed;
        right: 20*$px;
        bottom: 20*$px;
        z-index: 2;
        font-family: "FontAwesome";
        color: white;
        background: lighten($color__link, 5%);
        display: none;
        font-size: 24*$px;
        opacity: 0.5;
    }
    .topbutton:hover {
        opacity: 1;
    }
    .topbutton:hover:before,
    .topbutton:before:hover {
        color: white;
    }
    .topbutton:before {
        content: "\f106";
        display: block;
        text-align: center;
        padding-top: 5px;
    }
}

@mixin links() {
    a {
        text-decoration: none;
        border-bottom: 1px dotted transparent;
    }
    a:hover, a:active {
        // border-bottom: 1px dotted $color__link;
    }
}

@mixin blockquote() {
    blockquote {
        padding: $default_gutter / 2 $default_gutter;
        margin: $default_gutter $default_gutter / 2;
        font-size: 24*$px;
        //font-style: italic;
        font-weight: 300;
        background-color: inherit;
        border-left: 6*$px solid $color__light-border;
        color: $color__text-sub-panel;
        
        a, a:visited, a:active {
            color: inherit;
        }
        cite {
            font-weight: 300;
            font-size: 18*$px;
            text-align: right;
            margin-left: 25%;
            margin-top: $default_gutter;
        }
        &.alignright {
            width: 50%;
            float: right;
            padding: 1em 2em 0 0;
            margin-left: 2em;
            border-left: none;
            border-right: 6*$px solid $color__light-border;
            /*margin-right: 0;*/
        }
        &.alignright cite {
            margin-left: 0;
            margin-right: 25%;
            text-align: left;
        }
        &.alignleft {
            width: 50%;
            float: left;
            padding: 1em 0 0 2em;
            margin-right: 2em;
            /*margin-left: 0;*/
        }
    }
}

@mixin main_panel() {
    background-color: $color__background-main-panel;
    border: 1*$px solid $color__border-main-panel;
    box-shadow: $color__box-shadow;
}

@mixin sub_panel() {
    background-color: $color__background-sub-panel;
    border: 1*$px solid $color__border-sub-panel;
    box-shadow: inset $color__box-shadow;
    color: $color__text-sub-panel;
    /*float: left;*/
    /*width: 33.33333%;*/
    /*margin-left: .9375rem;*/
    /*margin-right: .9375rem;*/
    a, a:visited, a:active {
        color: inherit;
    }
}

@mixin widget-divider() {
    border-bottom: 1px solid $color__light-border;
}
@mixin widget-divider-top() {
    border-top: 1px solid $color__light-border;
}

@mixin entry_meta() {
    background-color: transparent;
    color: $color__text-sub-panel;
    border-top: 1px solid $color__light-border;
    border-bottom: 1px solid $color__light-border;
    a, a:visited, a:active {
        color: inherit;
    }
    a:hover, a:active {
        // border-bottom: 1px dotted $color__link;
    }
}
@mixin content_link() {
    a, a:link, a:visited {
        border-bottom: 1px solid $color__link;
        // background-color: lighten($color__background-sub-panel, 2%);
        // color: $color__text-main;
    }
    a:hover, a:active {
        background-color: $color__background-sub-panel;
    }
}
@mixin img_caption() {
    color: $color__text-sub-panel;
    background: $color__background-sub-panel;
}

@mixin entry_footer() {
    color: #9e9e9e;
    border-bottom: none;
    span {
        border-top: none;
    }
    a {
        color: inherit;
        font-weight: 400;
    }
}
@mixin comment() {
    //background-color: rgba(250, 250, 250, 0.05);
    //border: 1*$px solid silver;
    //box-shadow: inset $color__box-shadow;
}
@mixin sticky_post() {
    border-top: 1*$px solid $color__link;
    border-bottom: 5*$px solid $color__link;
    position: relative;
}
@mixin more_link() {
    background: none;
    border: 1px solid $color__light-border;
    color: $color__text-sub-panel;
}
@mixin site_footer() {
    a {
        color: darken($color__link, 5%);
    }
}

// Menu styling

@mixin child_menu_expanded() {
    background-color: darken(saturate($color__background-sub-panel, 5%), 1%);
    border: 1*$px solid $color__border-sub-panel;
    border-bottom: 0;
    box-shadow: $color__box-shadow;
}

@mixin child_menu_item() {
    a, a:link, a:visited {
        border: 0;
        border-top: 1*$px solid darken($color__border-sub-panel, 2%);
    }
    a:hover {
        background-color: lighten(saturate($color__background-sub-panel, 3%), 0.25%);
    }
}

@mixin compact_menu_item() {
    border-top: 1*$px solid $color__border-sub-panel;
    &:hover {
        border-bottom-color: transparent;
        background-color: darken(saturate($color__background-sub-panel, 5%), 1%);
    }
}

@mixin child_menu_compact() {
    background-color: darken(saturate($color__background-sub-panel, 7%), 2%);
}

@mixin child_menu_compact_item() {
    border-top: 1*$px solid darkent($color__border-sub-panel, 2%);
    &:hover {
        border-bottom-color: transparent;
        background-color: darken(saturate($color__background-sub-panel, 8%), 3%);
    }
}

@mixin archive_item() {
    .archive {
        padding: 2rem 0;
    }
    .archive-item {
        transition: all 0.5s ease-in;
        float: left;
        .index-post-thumbnail {
            height: 340px;
            overflow: hidden;
            background: white;
            img {
                height: 100%;
            }
        }
        .hentry {
            position: relative;
            height: 340px;
            overflow: hidden;
            padding: 0;
            background-size: cover!important;
            background-position: 50% 50%!important;
            background-repeat: no-repeat!important;
                -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
                -moz-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
                -ms-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
                box-shadow: 0 0 13px rgba(0, 0, 0, .07); 
            border: 0;
            .entry-title {
                font-size: 30*$px;
            }
        }
        .post-content {
            transition: all 0.3s ease-in;
            background: white;
            padding: 2rem;
            margin: 0;
            height: 340px;
            position: absolute;
            &.post-thumbnail {
                top: 100%;
            }
        }
    }
    .archive-item:hover {
        .post-content {
            top: 0;
        }
    }
}