* {
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    @include body();
}

@include links();

blockquote {
    padding: $default_gutter;
    font-size: 20*$px;
    @include blockquote();
}

// Overridden from lists.scss
ul, ol {
    padding: 0;
    margin: 0 0 $phi*1em $phi*1em;
}

@include htags();

// Layout colors

.site-header {
    @include guide;
    @include sub_panel();
    box-shadow: $color__header-box-shadow;
    background-color: #f9f9f9;
}
.admin-bar .site-header .fixed {
    top: 32px;
    box-shadow: $color__header-box-shadow;
}

.hentry, 
.comments-area, 
.page-header, 
.site-main .posts-navigation,
.site-main .post-navigation,
.paging-navigation {
    @include guide;
    @include main_panel();
    box-shadow: $color__box-shadow;
}

.widget {
    @include guide;
    @include sub_panel();
    box-shadow: $color__box-shadow;
}

.site-footer {
    @include guide;
    box-shadow: $color__box-shadow;
}

// Styles for footer widgets
#supplementary .widget {
    @include main_panel();
    border: none;
    box-shadow: none;
    float: left;
}

// content of layout/content-sidebar pasted here for easier modification

.content-area {
    //float: left;
    margin: 0 (-$size__site-sidebar) 0 0;
    //width: $size__site-main;
}

.site-main {
    margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
    //float: right;
    //overflow: hidden;
    //width: $size__site-sidebar;
}

.site-footer {
    clear: both;
    //width: $size__site-main;
}

// **-----
// CUSTOM STYLES
// **-----

// Site wrapper
.site {
    // padding-top: $default_gutter / 2;
}

// Header
.site-header {
    //max-width: total_site_width();
    margin: 0 auto $default_gutter auto;
}

.site-branding {
    //padding-left: $phi * 1rem;
    //padding-top: $phi * 1rem;
    //padding-bottom: $phi * 1rem;
    //font-size: 0.5em;
    //float: left;
}

.site-title {
    font-weight: 700;
}

.site-title, .site-description {
    //margin: 0;
    //line-height: 1em;
    //display: inline-block;
    //vertical-align: bottom;
}

.site-description {
    //margin-left: 0.5em;
    font-style: italic;
    display: none; 
}

// Header Search
@include search_toggle();

#search-container {
    display: none;
    margin-top: 86*$px;
    height: 84*$px;
}
.search-box-wrapper {
    z-index: 2;
    background: $color__background-main-panel;
}
.search-box {
    padding: 1em;
}
.search-box .search-field {
    float: right;
    padding: 1rem 1rem 0.5rem 1.5rem;
    font-size: 24*$px;
    color: $color__text-sub-panel;
    
}
.error404 .search-submit,
.search .search-submit,
.search-box .search-submit {
    display: none;
}

// Content
.site-content {
    //max-width: total_site_width();
    margin: 80*$px auto 0 auto;
}

//*** Posts and pages

// (hentry class covers both) plus their internal elements
.hentry,
.comments-area, 
.page-header,
.site-main .posts-navigation,
.site-main .post-navigation,
.paging-navigation {
    padding-left: $post_l_padding;
    padding-right: $post_r_padding;
    padding-top: $post_t_padding;
    padding-bottom: $post_b_padding;
    margin: 0 0 $default_gutter 0;
}

// Centers category headers
.page-header,
.page-title {
    //text-align: center;
}

//**** Individual post styling
.sticky {
    @include sticky_post();
}

.entry-content {
    a img {
        // prevent gap below linked image
        vertical-align: bottom;
    }
    @include content_link;
}

// Center the post's title 
.entry-header {
    text-align: center;
}

.entry-title {
    margin: 0;
    margin-bottom: $default_gutter / 1.5;
    font-weight: 400;
}

.entry-meta {
    display: inline-block;
    font-size: 18*$px;
    font-weight: 300;
    padding: 0.8em 1.2em;
    margin-bottom: 0;
    @include entry_meta();
}

.entry-footer {
    text-align: center;
    margin: $post_b_padding 0 $post_b_padding / ($phi * $phi) 0; 
    font-size: 18*$px;
    font-weight: 300;
/*    line-height: 3em;*/
    span {
        margin: 0 0.618em;
        padding: 0 0.618em;
        display: inline-block;
    }
    @include entry_footer();
}

.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
    .comment {
        padding: $default_gutter;
        @include comment();
    }
}

//**** Post footer icons
.cat-links:before {
    font-family: "FontAwesome";
    content: "\f115";
    margin-right: 0.5em;
}

.tags-links:before {
    font-family: "FontAwesome";
    content: "\f02c";
    margin-right: 0.5em;
}

.comments-link:before {
    font-family: "FontAwesome";
    content: "\f27b";
    margin-right: 0.5em;
}

.edit-link:before {
    font-family: "FontAwesome";
    content: "\f040";
    margin-right: 0.5em;
}

//**** Widgets
.widget {
    padding-left: $widget_l_padding;
    padding-right: $widget_r_padding;
    padding-top: $widget_t_padding;
    padding-bottom: $widget_b_padding;
    margin-left: 0;
    margin-bottom: $default-gutter;
}

.widget-title {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $default-gutter;
    margin-top: 0;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 0.75em 0 0.5em 2em;
        @include widget-divider;
        &.page_item_has_children,
        &.menu-item-has-children {
            padding-bottom: 0;
            //border: none;
        }
        // Default widget list item icon
        &:before {
            margin-left: -2em;
            margin-right: 1em;
            font-family: "FontAwesome";
            content: "\f097";
            opacity: 0.5;
            font-size: 18*$px;
        }
        
        // Prevent excessive, layout breaking nesting indentation levels
        li li li {
            padding-left: 0;
        }
    }
    .children li:first-of-type, 
    .sub-menu li:first-of-type {
        margin-top: 0.5em;
        @include widget-divider-top;
    }
    li:last-child {
        border: none;
    }
}

// Widget icons
.widget_recent_comments ul {
    li:before {
        content: "\f27b";
    }
}

.widget_recent_entries ul {
    li:before {
        content: "\f0f6";
    }
}

.widget_archive ul {
    li:before {
        content: "\f133";
    }
}

.widget_categories ul {
    li:before {
        content: "\f115";
    }
}

.widget_pages ul, .widget_nav_menu ul {
    li:before {
        content: "\f0f6";
    }
    .children, .sub-menu {
        li:before {
            content: "\f101";
        }
    }
    .children .children, .sub-menu .submenu {
        li:before {
            content: "\f105";
        }
    }
}

.widget_rss li {  }
.widget_rss .rss-date,
.widget_rss cite {
    display: block;
    font-size: 90%;
    padding: $phi * 0.25rem 0;
}

input.search-field {
    box-sizing: border-box;
    width: 100%;
}

// Footer
.site-footer {
    padding-top: $phi * 1em;
    padding-bottom: $phi * 1em;
    //max-width: total_site_width();
    margin: 0 auto;
    @include site_footer();
}



//**** Responsive layout adjustments

@media (max-width: 62.5em) {
    
    // Output headings at smaller size
    @include htags(0.9);
    
/*    // redeclare variables to be smaller
    $default_h_padding: $phi * $phi * 1rem;
    $default_v_padding: $default_h_padding;

    // Posts and widgets horizontal padding
    $post_l_padding: $default_h_padding;
    $post_r_padding: $post_l_padding;

    // Posts and widgets vertical padding
    $post_t_padding: $default_h_padding / $phi;
    $post_b_padding: $post_t_padding;
    
    .hentry,
    .comments-area, 
    .page-header,
    .site-main .posts-navigation,
    .site-main .post-navigation,
    .paging-navigation {
        padding-left: $post_l_padding;
        padding-right: $post_r_padding;
        padding-top: $post_t_padding;
        padding-bottom: $post_b_padding;
    }
    
    .entry-title {
        margin-bottom: $post_t_padding;
    }
    
    .site-footer {
        padding: $phi * 1em;
    }*/
}

@media (max-width: 782*$px) {
    
    .admin-bar .site-header .fixed {
        //top: 46px;
    }
    
}

@media (max-width: 600*$px) {
    
    @include htags(0.8);
    
}
@media (max-width: 400*$px) {
    
    @include htags(0.7);
    
}